.hoverableIconContainer {
  position: relative;
  display: grid;
  place-items: center;
  cursor: pointer;
  width: 35px;
  height: 35px;
}

.hoverableIconBackdrop {
  position: absolute;
  background-color: #c3c8cc;
  opacity: 0.25;
  width: 0;
  height: 0;
  border-radius: 50%;
  z-index: -1;
  transition-property: height, width;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-duration: 450ms;
}

.hoverableIconContainer:hover > .hoverableIconBackdrop {
  width: 100%;
  height: 100%;
}

.hoverableIconContainer:hover {
  color: gray !important;
}
