.App {
  width: 100vw;
  height: fit-content;
  padding: 40px;
}

.schemaContainer {
  position: relative;
}

.schemaHeader {
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.schemaHeader input {
  outline: none;
  padding: 10px 20px;
}

.schemaHeader div {
  border: none;
  background-color: lightcoral;
  color: white;
  font-size: 12px;
  padding: 10px 20px;
  display: grid;
  place-items: center;
}

.schemaBody {
  border-left: 2px solid gray;
  margin-left: 60px;
  padding: 20px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 20px;
}

.schemaBody .validationDiv {
  width: 250px;
  display: grid;
  grid-template-columns: 1.5fr 3fr 1fr;
  align-items: center;
  position: relative;
  padding-left: 10px;
}
.schemaBody .validationDiv input {
  width: 100px;
  outline: none;
  padding: 10px;
}

.addValidationBtn {
  border: none;
  outline: none;
  width: fit-content;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.properties {
  background-color: lightblue;
  width: fit-content;
  padding: 10px;
  color: white;
}

.removeBtn {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  display: grid;
  place-items: center;
  background-color: lightpink;
  color: white;
  cursor: pointer;
}

.removeSchema {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  display: grid;
  place-items: center;
  background-color: lightskyblue;
  color: white;
  cursor: pointer;
}

.addPropertyBtnContainer {
  position: relative;
}

.addPropertyBtnContainer .typeSelector {
  background-color: white;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  row-gap: 6px;
  border: 1px solid gray;
  width: fit-content;
  border-radius: 5px;
  position: absolute;
  z-index: 999;
  top: 40px;
  left: 20px;
}

.addPropertyBtnContainer .typeSelector p {
  padding: 5px 8px;
  cursor: pointer;
}
.addPropertyBtnContainer .typeSelector p:hover {
  background-color: lightpink;
  color: red;
}

.expandBtn {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background-color: aquamarine;
  transition: all 300ms ease-in-out;
  font-size: 10px;
  color: green;
}

.connector {
  border-top: 2px solid gray;
  position: absolute;
  width: 20px;
  left: -20px;
  top: 20px;
}

.tailRemover {
  width: 10px;
  height: 15px;
  background-color: white;
  position: absolute;
  left: -22px;
  top: 22px;
}

.endBulb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: gray;
  position: absolute;
  bottom: 0;
  left: 51px;
}
