.App {
  width: 100vw;
  height: fit-content;
  padding: 40px;
}

.schemaContainer {
  position: relative;
}

.schemaHeader {
  display: flex;
  column-gap: 6px;
  align-items: center;
}

.schemaHeader input {
  outline: none;
  padding: 10px 20px;
}

.schemaHeader .schemaType {
  border: none;
  margin-left: 20px;
  font-size: 12px;
  border-radius: 16px;
  padding: 10px 20px;
  display: grid;
  place-items: center;
}

.schemaBody {
  position: relative;
  border-left: 2px solid #dadee1;
  margin-left: 60px;
  padding: 20px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 5px;
}

.schemaBody .validationDiv {
  width: 300px;
  display: grid;
  grid-template-columns: 1.5fr 3fr 1fr;
  align-items: center;
  position: relative;
  padding-left: 10px;
}

.schemaBody .validationDiv .validationName {
  color: #6f4bb7;
}

.schemaBody .validationDiv input {
  width: 150px;
  outline: none;
  padding: 10px;
}

.addValidationBtn {
  border: 1px solid #dadee1;
  background-color: white;
  color: #7e8d9d;
  outline: none;
  width: fit-content;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color ease-in-out 300ms;
}

.addValidationBtn:hover {
  background-color: #dadee144;
}

.addValidationBtnActive {
  border-color: #9d81d4;
  color: #6f4bb7;
  background-color: #f7f2ff !important;
}

.properties {
  background-color: #e2f1fc;
  color: #74aef1;
  width: fit-content;
  font-size: 14px;
  padding: 10px;
  border-radius: 8px;
}

.removeBtn {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  display: grid;
  place-items: center;
  background-color: lightpink;
  color: white;
  cursor: pointer;
}

.removeSchema {
  display: grid;
  place-items: center;
  cursor: pointer;
  font-size: 23px;
  background-color: white;
  border: none;
}

.addPropertyBtnContainer {
  position: relative;
}

.addPropertyBtnContainer .typeSelector {
  border: 1px solid #dadee1;
  border-radius: 8px;
  position: absolute;
  z-index: 999;
  top: 45px;
  width: 150px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  box-shadow: 0 16px 16px -4px rgba(16, 24, 40, 0.078);
  overflow: hidden;
  background-color: white;
}

.addPropertyBtnContainer .typeSelector ul {
  display: flex;
  flex-direction: column;
}

.addPropertyBtnContainer .typeSelector li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  font-size: 12px;
  font-weight: 500;
  color: #7e8d9d;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 5px;
}

.addPropertyBtnContainer .typeSelector li:hover {
  background-color: #f8f4fe;
  color: #6236bb;
}

.connector {
  border-top: 2px solid #dadee1;
  position: absolute;
  width: 20px;
  left: -20px;
  top: 20px;
}

.tailRemover {
  width: 10px;
  height: 15.5px;
  background-color: white;
  position: absolute;
  bottom: 0px;
  left: -2px;
}

.endBulb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #dadee1;
  position: absolute;
  bottom: -10px;
  left: -10px;
}

.schemaNameInput {
  outline: none;
  border: 1px solid #dadee1;
  border-radius: 8px;
  padding: 13px 12px;
  font-size: 16px;
  font-weight: 500;
  transition: box-shadow cubic-bezier(0.68, -0.55, 0.265, 1.55) 300ms;
}

.schemaNameInput:hover {
  -webkit-box-shadow: 0px 0px 0px 2px rgba(214, 214, 214, 0.809);
  -moz-box-shadow: 0px 0px 0px 2px rgba(214, 214, 214, 0.809);
  box-shadow: 0px 0px 0px 2px rgba(214, 214, 214, 0.6);
}

.schemaNameInput:focus {
  box-shadow: none;
  border-color: #a879d1;
}

.schemaNameInput::placeholder {
  color: gray;
}

.propertyNodeWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 10px;
}

.propertyNodeWrapper .requiredContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 45px;
}

.propertyNodeWrapper .requiredContainer p {
  color: gray;
  font-size: 12px;
}
